@import "modern-normalize";

@font-face{
    font-family: Roboto;
    src: url(recources/roboto-regular-webfont.woff2);
}

@font-face{
    font-family: Norse;
    src: url(recources/norse-bold-webfont.woff2);
}

:root {
  line-height: 1.5;

  --text-color: black;
  --error-color: #ff6b6b;
  --border-color: #E5E7EB;
  --focus-color: #2563eb;
  --button-clor: #596D48;

  --font-size-small: 0.9rem;
  --font-size-main: 1.4rem;
  --font-size-large: 2rem;
  
  --small-padding: 24px;
  --medium-padding: 48px;
  --large-padding: 64px

}


h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

a:hover, button:hover{
  cursor: pointer;
}

body{
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.bg-container{
  flex: 2;
  display: flex;
  background-image: url(images/photo-1585202900225-6d3ac20a6962.avif);
  background-size:  cover;
  position: relative;
  color:white;
  justify-content: center;
}

.bg-logo{
  display: flex;
  background-color: rgb(0 0 0 / 60%);
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  width: 100%;
  padding: 16px 0px;
  gap:1rem;
}

.bg-logo img{
  width: min(100px, 100%);
	height: min(100px, 100%);
}

.logo-text{
  font-family: Norse, sans-serif;
  font-size: 5rem;
}

.copyright{
  position:absolute;
  bottom: 2rem;
  font-size: var(--font-size-small);
}
.form-container{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:var(--small-padding);
}

.header, .form-header{
  font-size: var(--font-size-main);
  font-weight: 700;
  padding:0px var(--large-padding);
}

.header h1, .form-header h1{
  margin-bottom: var(--small-padding);
}

.form-content{
  font-size: var(--font-size-small);
  display: flex;
  gap: var(--large-padding);
  padding:0px var(--large-padding);
  box-shadow: 0 4px 10px -4px black;
  margin-bottom: var(--medium-padding);
}

.form-row{
  display: flex;
  flex-direction: column;
  margin-bottom: var(--small-padding);
}

input{
  border:1px solid var(--border-color);
  border-radius: 6px;
  padding: 4px 8px;
  width: 250px;
  height: initial;
}

input:focus{
  outline: #2563eb;
  border-color: var(--focus-color);
  box-shadow: 0 4px 4px -4px var(--focus-color);

}

input:invalid{
  border-color: var(--error-color);
}

.form-submit{
  padding:0px var(--large-padding);
}

.submit-btn{
  padding: 8px var(--medium-padding);
  color: white;
  background-color: #596D48;
  border-radius: 6px;
  border-width: 0px;
  box-shadow: 0px 4px 4px -4px black;
  margin-bottom: var(--small-padding);
}
